<div class="col-xs-12 col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading showbox right_heading">
			<h2>About</h2>
		</div>

		<div class="panel-body">
			<img src="http://kcm702.files.wordpress.com/2014/04/kim_300.png" alt="Kim" vspace="5" hspace="10" align="right" width="300">For when you need that little bit of extra accuracy, specifying precision and scale for a decimal column in your Ruby on Rails migration is pretty simple. The precision represents the total number of digits in the number, whereas scale represents the number of digits following the decimal point. For when you need that little bit of extra accuracy, specifying precision and scale for a decimal column in your Ruby on Rails migration is pretty simple. The precision represents the total number of digits in the number, whereas scale represents the number of digits following the decimal point.<br /><br />
			For when you need that little bit of extra accuracy, specifying precision and scale for a decimal column in your Ruby on Rails migration is pretty simple. The precision represents the total number of digits in the number, whereas scale represents the number of digits following the decimal point.
		</div>

		<div class="panel-footer right_footer">
			More
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-4">

	<%= render 'layouts/latestitem' %>

	<%= render 'layouts/latestpost' %>

</div>
