<div class="row">
	<div class="col-xs-12 cold md-12">
		<%= @age %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8 ">
		<span class="homemainimage"><img src="http://kcm702.files.wordpress.com/2014/04/stork_1000x476.jpg"></span>
		<%= link_to (render 'items/runningtotal'), items_path %>
	</div>

	<div class="col-xs-12 col-md-4">
		<%= render 'layouts/latestpost' %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12 bottompadding">
	 	<%= render 'items/masonryitems' %>
	</div>
</div>




