<div class="col-xs-12 col-md-12">
  <div class="page-header righted">
    <h1>
    	<small>Running Total: </small>
    	<span class="pricecolor"><%= number_to_currency@total_cost %></span> 
    	<small>at</small> 
    	<span class="pricecolor">0 days old</span>
    </h1>
  </div>
</div>