<div class="col-xs-12 col-md-12">
  <% if user_signed_in? %>
    <%= link_to new_item_path do %>
      <h4><span class = "glyphicon glyphicon-plus"></span> New Item</h4>
    <% end %>
  <% end %>
</div>

<div class="col-xs-12 col-md-12">
  <%= render 'items/runningtotal' %>
</div>

<div class="col-xs-12 col-md-12">
  <%= render 'items/masonryitems' %>
</div>

<div class="col-xs-12 col-md-12">
  <div class="centered"> 
    <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
  </div>
</div>
